# Configurações de Ambiente para o Pipeline do MLflow / DVC
# Gerenciado via Pydantic Settings (src/recommender/config/settings.py)

# MLflow
MLFLOW_TRACKING_URI=https://mlflow.asgardprint.com.br

# AWS
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1
AWS_PROFILE=aws
