# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Poetry
.python-version
poetry.lock
*.lock

# DVC
.dvc/
.cache/

# Environment
.env

# MLflow
mlruns/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp

# Logs and temp
*.log
*.tmp
*.temp

# Data
data/raw/
data/interim/
ecommerce_recommender/data/processed/mlflow_experiments/

# FIXED: Un-ignore .dvc files in the experiments folder so Git can track them
!ecommerce_recommender/data/processed/mlflow_experiments/*.dvc

# Models and artifacts
reports/
ecommerce_recommender/models/
ecommerce_recommender/mlflow.db
ecommerce_recommender/notebooks/mlflow.db
